.about-text-center{
    align-items: center;
    align-self: center;
    padding-left: 460px;
    background-color: #fff;
    width:100%;
    padding-bottom: 10px;
}

.about-us-para{
    padding-right: 460px;
}

.about{
    background-color: #fff;
}
.about__content-img{
    background-color: #fff;
    width: 400px;
    margin-top: 0%;
    border-radius: 100%;
    padding-left: 100px;
}

.about__content{
    background-color: #fff;
    padding-left: 140px;

}