.container-contact{
    min-height: 100vh;
    width: 100%;
    background-color: #87B7FF;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://images.unsplash.com/photo-1624948456697-31d0ab8bf969?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHQlMjBibHVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80); */
    background-position: center;
    background-size: cover;
    position: relative;
}

.head-text-center{
    color: black;
    align-items: center;
    align-self: center;
    padding-left: 620px;
}
.text-center{
    color: black;
    font-weight: 300;
}

.submit-button{
background-color: rgb(41, 231, 24);
text-align: center;
font-style: normal;
align-self: auto;
width: 0px;
height: 43.5px;
}

.reset-button{
    background-color: rgb(231, 24, 24);
    text-align: center;
    font-style: normal;
    align-self: auto;
    width: 0px;
    height: 43.5px;
}