    .container-contact{
        min-height: 100vh;
        width: 100%;
        background-color: #87B7FF;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .head-text-center{
        color: black;
        align-items: center;
        align-self: center;
        padding-left: 620px;
    }
    .text-center{
        color: black;
        font-weight: 300;
    }

    .submit-button{
        background-color: #87B7FF;
        text-align: center;
        font-style: normal;
        align-self: auto;
        width: 0px;
        height: 43.5px;
        color: black;
        border-radius: 20px;
        }
    .reset-button{
        background-color: #27497a;
        text-align: center;        
        font-style: normal;
        align-self: auto;
        width: 0px;
        height: 43.5px;
        color: #fff;
        border-radius: 20px;            
}
    @media (max-width: 400px){
    .container-contact{
        background-color: #87B7FF;
    }

    .head-text-center{
        color: black;
        padding-left: 19%;
        text-shadow: 3%;
        padding-bottom: 3%;
    }
    .text-center{
        color: black;
        font-weight: 300;
    }

    .submit-button{
        background-color: #87B7FF;
        text-align: center;
        font-style: normal;
        align-self: auto;
        width: 0px;
        height: 43.5px;
        color: black;
        border-radius: 20px;
        }
    .reset-button{
        background-color: #27497a;
        text-align: center;        
        font-style: normal;
        align-self: auto;
        width: 0px;
        height: 43.5px;
        color: #fff;
        border-radius: 20px;            
    }
}
